### Name- Devshekhar Pattnaik

### Reg No-19BCE1292

### Slot-L19-20


# <center> Web Mining Lab-6 </center>

<br>

<b>Q. Take any text corpora, apply necessary preprocessing and perform the k-means clustering on the corpora.</b>

<u>Dataset Used:</u>


> A Million News Headlines
<br>
https://www.kaggle.com/therohk/million-headlines

<u>Algorithm</u>


1. Import all necessary libraries(numpy,pandas,seaborn etc) required for performing k-means clustering
2. Load the dataset and extract all the entries of headline_text column and perform preprocessing by removing duplicate entries
3. Select the number K to decide the number of clusters(in this case take 3,4 clusters)
4. Select random K points or centroids.
5. Assign each data point to their closest centroid, which will form the predefined K clusters
6. Calculate the variance and place a new centroid of each cluster
7. Repeat step 5, which means reassign each datapoint to the new closest centroid of each cluster
8. If any reassignment occurs, then go to step 6 else go to FINISH.

In [5]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from nltk.tokenize import RegexpTokenizer
from nltk.stem.snowball import SnowballStemmer
%matplotlib inline

In [6]:
data = pd.read_csv("abcnews-date-text.csv",error_bad_lines=False,usecols =["headline_text"])
data.head()

                                       headline_text
0  aba decides against community broadcasting lic...
1     act fire witnesses must be aware of defamation
2     a g calls for infrastructure protection summit
3           air nz staff in aust strike for pay rise
4      air nz strike to affect australian travellers

<br><b>Preprocessing</b><br>

In [7]:
data[data['headline_text'].duplicated(keep=False)].sort_values('headline_text').head(8)

                             headline_text
116304     10 killed in pakistan bus crash
57973      10 killed in pakistan bus crash
676588             110 with barry nicholls
673123             110 with barry nicholls
748887             110 with barry nicholls
912413             110 with barry nicholls
898238  110 with barry nicholls episode 15
827356  110 with barry nicholls episode 15

In [8]:
data = data.drop_duplicates('headline_text')

In [10]:
punc = ['.', ',', '"', "'", '?', '!', ':', ';', '(', ')', '[', ']', '{', '}',"%"]
stop_words = text.ENGLISH_STOP_WORDS.union(punc)
desc = data['headline_text'].values
vectorizer = TfidfVectorizer(stop_words = stop_words)
X = vectorizer.fit_transform(desc)

In [11]:
word_features = vectorizer.get_feature_names()
print(len(word_features))
print(word_features[5000:5100])

95709
['76000', '760000', '760k', '763', '769', '76ers', '76k', '76m', '76pc', '76yo', '76yos', '77', '770', '7700', '770000', '770k', '770m', '771m', '772m', '774', '774s', '775', '775m', '776m', '777', '777s', '779', '77b', '77k', '77kg', '77m', '77pc', '77yo', '78', '78000', '780k', '780m', '783', '783s', '785', '785m', '786', '787', '787s', '78b', '78er', '78ers', '78k', '78kg', '78kph', '78m', '78pc', '78th', '78yo', '79', '7900', '7917', '795', '795pc', '796m', '79b', '79kg', '79m', '79pc', '79th', '79yo', '7b', '7bn', '7cm', '7d', '7eleven', '7ho', '7k', '7kg', '7km', '7m', '7pc', '7pm', '7pmm', '7rar', '7s', '7th', '7wks', '7yo', '7yos', '7yr', '7yrs', '80', '800', '8000', '80000', '800000', '8003', '800b', '800k', '800kg', '800km', '800kms', '800m', '800pc']

In [12]:
stemmer = SnowballStemmer('english')
tokenizer = RegexpTokenizer(r'[a-zA-Z\']+')

def tokenize(text):
    return [stemmer.stem(word) for word in tokenizer.tokenize(text.lower())]

In [13]:
vectorizer2 = TfidfVectorizer(stop_words = stop_words, tokenizer = tokenize)
X2 = vectorizer2.fit_transform(desc)
word_features2 = vectorizer2.get_feature_names()
print(len(word_features2))
print(word_features2[:50])

C:\Users\DEVSHEKHAR\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:388: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'forti', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'mani', 'meanwhil', 'moreov', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'togeth', 'twelv', 'twenti', 'veri', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  warnings.warn('Your stop_words may be inconsistent with '

64035
["'a", "'i", "'s", "'t", 'aa', 'aaa', 'aaahhh', 'aac', 'aacc', 'aaco', 'aacta', 'aad', 'aadmi', 'aag', 'aagaard', 'aagard', 'aah', 'aalto', 'aam', 'aamer', 'aami', 'aamodt', 'aandahl', 'aant', 'aap', 'aapa', 'aapt', 'aar', 'aaradhna', 'aardman', 'aardvark', 'aargau', 'aaron', 'aaronpaul', 'aarwun', 'aat', 'ab', 'aba', 'abaaoud', 'ababa', 'aback', 'abadi', 'abadon', 'abal', 'abalon', 'abalonv', 'abama', 'abandon', 'abandond', 'abandong']

In [14]:
vectorizer3 = TfidfVectorizer(stop_words = stop_words, tokenizer = tokenize, max_features = 1000)
X3 = vectorizer3.fit_transform(desc)
words = vectorizer3.get_feature_names()

<br><b>K=3</b><br>

In [15]:
kmeans = KMeans(n_clusters = 3, n_init = 20, n_jobs = 1)
kmeans.fit(X3)
common_words = kmeans.cluster_centers_.argsort()[:,-1:-26:-1]
for num, centroid in enumerate(common_words):
    print(str(num) + ' : ' + ', '.join(words[word] for word in centroid))

C:\Users\DEVSHEKHAR\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:792: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  warnings.warn("'n_jobs' was deprecated in version 0.23 and will be"

0 : polic, say, plan, win, council, govt, australia, report, kill, warn, urg, court, fund, water, nsw, australian, death, crash, open, chang, interview, qld, attack, wa, claim
1 : new, zealand, law, year, plan, open, council, polic, home, centr, hospit, deal, set, hope, appoint, australia, look, announc, chief, say, govt, minist, south, mayor, welcom
2 : man, charg, murder, polic, court, face, jail, assault, stab, death, drug, die, guilti, child, arrest, attack, sex, accus, car, woman, miss, crash, kill, shoot, alleg

<br><b>K=4</b><br>

In [18]:
kmeans = KMeans(n_clusters = 4, n_init = 20, n_jobs = 1)
kmeans.fit(X3)
# We look at 4 the clusters generated by k-means.
common_words = kmeans.cluster_centers_.argsort()[:,-1:-26:-1]
for num, centroid in enumerate(common_words):
    print(str(num) + ' : ' + ', '.join(words[word] for word in centroid))

C:\Users\DEVSHEKHAR\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:792: FutureWarning: 'n_jobs' was deprecated in version 0.23 and will be removed in 1.0 (renaming of 0.25).
  warnings.warn("'n_jobs' was deprecated in version 0.23 and will be"

0 : polic, say, plan, win, council, govt, australia, kill, warn, court, urg, fund, water, nsw, australian, death, crash, open, interview, chang, attack, qld, claim, wa, face
1 : man, charg, murder, polic, court, face, jail, assault, stab, death, drug, die, guilti, child, arrest, attack, accus, sex, car, woman, miss, crash, kill, shoot, alleg
2 : new, zealand, law, year, plan, open, council, polic, centr, home, hospit, deal, set, hope, australia, appoint, look, announc, chief, govt, say, minist, south, mayor, welcom
3 : report, rural, releas, say, reveal, highlight, polic, urg, govt, health, abc, abus, new, nsw, death, talk, card, council, iraq, qld, kill, child, climat, hospit, chang