<a href="https://colab.research.google.com/github/pro-coder-devshekhar/Web-Mining/blob/main/19BCE1292_Web_Mining_lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Name- Devshekhar Pattnaik**

### **Reg No-19BCE1292**

### **Slot-L19-20**


# **<center> Web Mining Lab-5 </center>**

<br>

<b>1. Write a Naïve Bayes Classifier in python without using any package for the following dataset</b>

<u>Algorithm</u>

1. Caluculate the probabilities of target variables and store in a list
2. Caluculate p(x/ci) for each attribute in dataset for each unique target variables
3. Raise the powers of each caluculated p(x/ci) according to the given query
4. Multiply each p(x/ci) for each unique target variable in dataset and store in a list
5. Multiply each caluculated values with their respective probabilities
6. Print the value target variable which has max p(x/query)

<u>Data structures used</u>

1.   List

In [ ]:
import pandas as pd
dataset=pd.read_csv('category.csv')
dataset

  Document  TDF  Nifty  Sidhu  BJP  Sensex  Sixer  Congress  Century  Category
0       D1    4      0      3    5       1      0         6        0  Politics
1       D2    0      5      0    2       6      0         1        0  Business
2       D3    0      0      6    1       0      4         1        2    Sports
3       D4    4      1      0    1       1      0         6        0  Politics
4       D5    0      0      0    0       0      5         0        6    Sports
5       D6    0      4      0    2       6      0         0        1  Business
6       D7    5      0      0    3       0      0         5        0  Politics

In [ ]:
def prob(category):
    count=0
    for x in dataset['Category']:
        if x==category:
            count=count+1
    return (count/len(dataset))

In [ ]:
l1=[]
l5=[]
print("pc(i)")
for i in dataset['Category'].unique():
    l5.append(i)
    print(prob(i))
    l1.append(prob(i))

pc(i)
0.42857142857142855
0.2857142857142857
0.2857142857142857

In [ ]:
A=dataset.iloc[:,[1,2,3,4,5,6,7,8]]
def given(ai,cl):
    p=0
    total=0
    i=0
    for x in dataset['Category']:
        if x==cl:
            for j in A.iloc[i]:
                total=total+j
            for k in A.iloc[i,[ai]]:
                p=p+k
        i=i+1
    l=format((p+1)/(total+len(dataset)),'.2f')
    return l

In [ ]:
l2=[]
l3=[0,3,0,2,6,0,2,1]
for x in dataset['Category'].unique():
    s=1
    print(x,end=' ')
    for i in range(0,len(A.columns)):
        k=given(i,x)
        print(k,end=' ')
        s=s*pow(float(k),l3[i])
    print('\n')
    l2.append(s)
print(l2)

Politics 0.27 0.04 0.08 0.19 0.06 0.02 0.35 0.02

Business 0.03 0.29 0.03 0.15 0.38 0.03 0.06 0.06

Sports 0.03 0.03 0.22 0.06 0.03 0.31 0.06 0.28

[2.6409535487999995e-16, 3.5688791550116724e-10, 7.142567039999998e-20]

In [ ]:
l4=[]
for i in range(0,len(l1)):
    l4.append(l1[i]*l2[i])
m=0
for i in range(0,len(l4)):
    if l4[i]>l4[m]:
        m=i
print("Predicted Category:",l5[m])

Predicted Category: Business

<br>
<b>2. Take any large text corpora, do the necessary preprocessing and built a Naïve Bayes Classifier and draw the inferences.</b>

In [ ]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn import metrics

In [ ]:
df = pd.read_csv('sentiment.csv', delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PhraseId    99999 non-null  int64
 1   SentenceId  99999 non-null  int64
 2   Phrase      99999 non-null  object
 3   Sentiment   99999 non-null  int64
dtypes: int64(3), object(1)
memory usage: 3.1+ MB

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts = cv.fit_transform(df['Phrase'])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(text_counts, df['Sentiment'], test_size=0.25, random_state=5)

In [ ]:
from sklearn.naive_bayes import GaussianNB
GNB = GaussianNB()

In [ ]:
GNB.fit(X_train.toarray(), Y_train)
accuracy_score = metrics.accuracy_score(GNB.predict(X_test.toarray()),Y_test)

In [ ]:
print('GNB accuracy = ' + str('{:4.2f}'.format(accuracy_score*100))+'%')

GNB accuracy = 18.93%

In [ ]:
from sklearn.naive_bayes import MultinomialNB
MNB = MultinomialNB()
MNB.fit(X_train, Y_train)
predicted = MNB.predict(X_test)
accuracy_score = metrics.accuracy_score(predicted, Y_test)
print(str('{:04.2f}'.format(accuracy_score*100))+'%')

60.70%